<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sqlmap.Test">
	<resultMap id="BaseResultMap" type="Test">
		<id column="id" property="id" jdbcType="INTEGER" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="sex" property="sex" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id,name,sex
	</sql>
	<sql id="queryMap">
		<if test="id !=null">
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="name !=null">
			and name like optKey('%',#{name}, '%')
		</if>
	</sql>

	<insert id="insert" parameterType="Test"  useGeneratedKeys="true" keyProperty="id">
		insert into test (
		<include refid="Base_Column_List" />
		)
		values (
		#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR}
		)
	</insert>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from test where id = #{id,jdbcType=INTEGER}
	</delete>

	<update id="update" parameterType="Test">
		update tb_jkcome_device_detail
		<set >
			<if test="name != null" >
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="sex != null" >
				sex = #{sex,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findById" parameterType="java.lang.Integer"
			resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from test
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="findListCount" parameterType="map" resultType="int">
		select count(1)
		from test
		where 1 = 1
		<include refid="queryMap"/>
	</select>

	<select id="findList" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from test
		where 1=1
		<include refid="queryMap"/>
		order by id desc
		limit   #{startIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>


</mapper>